[user]
	email = thomasdpb@gmail.com	
	name = thomas
	editor = vim
[core]
	editor = vim
	excludesfile = ~/.gitignore
[color]
	diff = auto
	ui = auto
	branch = auto
	status = auto
	decorate = auto
	showbranch = auto
	pager = true
	grep = auto
	interactive = auto
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[advice]
	statusHints = false
	commitBeforeMerge = false
	detachedHead = false
	implicitIdentity = false
	pushNonFastForward = false
	resolveConflict = false
	pushUpdateRejected = false
	rmHints = false
	amWorkDir = false
	statusUoption = false
	pushNeedsForce = false
	pushFetchFirst = false
	pushAlreadyExists = false
	pushNonFFCurrent = false
[alias]
	fancylog = log --oneline --decorate --graph --all
	sstatus = status --short
	unstage = reset HEAD --
	visual = !gitk
	copystage = checkout-index -f
	branchcommit = checkout -b
	lsalias = config --get-regexp alias
	detailremote = remote show
[diff]
	tool = vimdiff
[merge]
        tool = vimdiff
