# Lines configured by zsh-newuser-install
HISTFILE="${ZDOTDIR:-$HOME}/.histfile"
HISTSIZE=1000
SAVEHIST=1000
unsetopt beep
bindkey -e
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '{{ .chezmoi.homedir }}/.config/zsh/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall

#PROMPT='%(?.%F{green}√.%F{red}?%?)%f %B%F{240}%1~%f%b %# '

[[ -f ${XDG_DATA_HOME:-$HOME/.local/share}/aliases/aliases ]] && source ${XDG_DATA_HOME:-$HOME/.local/share}/aliases/aliases

path+=$HOME/'bin'

source $ZDOTDIR/.zsh_plugins.sh

