[Unit]
Description=Transmission Daemon torrent downloader

[Service]
Type=simple
ExecStart=/usr/bin/transmission-daemon -f

[Install]
WantedBy=default.target
