source /usr/share/octave/site/m/startup/octaverc;
pkg prefix {{ .chezmoi.homedir }}/.local/share/octave/packages {{ .chezmoi.homedir }}/.local/share/octave/packages;
pkg local_list {{ .chezmoi.homedir }}/.local/share/octave/octave_packages;
