! The command to apply changes:
! xrdb ~/.Xresources

#if __has_include(".colors.Xresources")
#include ".colors.Xresources"
#endif

XTerm*.foreground:   base05
XTerm*.background:   base00
XTerm*.cursorColor:  base05

XTerm*.color0:       base00
XTerm*.color1:       base08
XTerm*.color2:       base0B
XTerm*.color3:       base0A
XTerm*.color4:       base0D
XTerm*.color5:       base0E
XTerm*.color6:       base0C
XTerm*.color7:       base05

XTerm*.color8:       base03
XTerm*.color9:       base08
XTerm*.color10:      base0B
XTerm*.color11:      base0A
XTerm*.color12:      base0D
XTerm*.color13:      base0E
XTerm*.color14:      base0C
XTerm*.color15:      base07

XTerm*faceName: hack:size=9
XTerm*borderWidth: 0

xterm*VT100.Translations: #override \
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
XTerm*utf8: 1
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
XTerm*VT100*translations: #override Shift <Btn1Up>: exec-formatted("firefox '%t'", PRIMARY)

i3wm.colortext1:        #ffffff
i3wm.colortext2:        #888888
i3wm.colorurgent:       #D64E4E
!i3wm.colorbackground:   #212121
i3wm.colorbackground:   base00
